# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Build artifacts
build/
dist/
*.spec

# Installer outputs
*.exe
*.msi

# Logs and temp
*.log
*.tmp
*.bak

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
